<section class="lading-top">
  <div class="container">
    <nav class="pt-5">
      <div class="navegation mb-5">
        <h1 class="text-white"><%= t('title.brightcoders') %></h1>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-info">
        <h1 class="hero-info_heading"><%= t('hero.heading') %></h1>
        <span class="hero-info_heading-span"><%= t('hero.heading_span') %></span>
        <div class="hero-info_text-v1">
          <p class="hero-info_text-v1_p"><%= t('hero.info_p1_r1') %></p>
          <p class="hero-info_text-v1_p"><%= t('hero.info_p1_r2') %></p>
        </div>
        <div class="hero-info_text-v2">
          <p class="hero-info_text-v2_p"><%= t('hero.info_p2_r1') %></p>
          <p class="hero-info_text-v2_p"><%= t('hero.info_p2_r2') %></p>
        </div>
        <a href="#" class="hero-info_button"><%= t('hero.button') %></a>
      </div>

      <div class="hero-image">
        <%= image_tag("Image 2.webp", alt: t('hero.image'), class:"hero-image_women")%>
        <div class="hero-image_rectangles">
          <%=image_tag("Group 608.png", alt: t('hero.image_background'), class:"hero-image_rectangles-colored1")%>
          <%=image_tag("Group 608.png", alt: t('hero.image_background'), class:"hero-image_rectangles-colored2")%>
        </div>
      </div>
    </section>
  </div>
</section>

<% t('description_section.items').each do |item| %>
  <div class="col-lg-4 col-md-6 p-2 mx-auto">
    <div class="card">
      <div class="card-body">
        <h5 class="title"><%= item[:title] %></h5>
        <p class="card-text">
          <%= item[:description] %>
        </p>
      </div>
    </div>
  </div>
<% end %>
